/*----------SCOOTS PLAN----------*/

/* Clearfix: Force an element not to collapse */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Wild Card */
* {
    box-sizing: border-box;
}

body {
    background-color: #EDE7E3;
}

main {
    background-color: #82C0CC;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*----------SMALL----------*/
/* MAIN */
h1 {
    font-family: 'Prata', serif;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-family: 'Prata', serif;
    text-align: center;
}

main p, main ul, main li {
    font-family: 'Open Sans', sans-serif;
    padding: 1.5rem;
}

/* HEADER */
header {
    text-align: center;
    background-color: #16697A;
    padding-top: 1rem;
    color: white;
}

/* FOOTER */
footer {
    margin: auto;
    font-family: 'Inria Serif', serif;
    padding: 1rem;
    background-color: #16697A;
    color: white;
    text-align: center;
}

/* NAVIGATION */
nav button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #102F42 ;
} 

nav {
    margin: 0 auto;
    background-color: #FFA21F;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid black;
    color: black;
}

nav ul.hide-navigation {
    display: none;
}

nav li.active {
    background-color: rgba(0,0,0,.2);
}

nav ul li a:hover {
    background-color: rgba(0,0,0,.4);
}

/*------INDEX------*/
.logo {
    display: block;
    margin: auto auto;
    max-width: 400px;
}

/*------TARGET AUDIENCE------*/
main ul {
    list-style-position: inside;
  }
  
main li {
    line-height: normal;
    text-align: center;
}

/*------COLOR SCHEME------*/
table {
    margin: auto auto;
}
table tr td {
    border: 2px double black;
}

.color1 {
    background-color: #16697A;
    color: white;
}

.color2 {
    background-color: #489FB5;
}

.color3 {
    background-color: #82C0CC;
}

.color4 {
    background-color: #EDE7E3;
}

.color5 {
    background-color: #FFA21F;
}

/*------TYPOGRAPHY------*/
.typography h1 {
    background-color: #16697A;
    color: white;
}

/*------WIREFRAME------*/
.wireframes {
    text-align: center;
}

.small {
    display: block;
    max-width: 50%;
    margin: auto auto;
}

.medium {
    display: block;
    max-width: 75%;
    margin: auto auto;
}

.large {
    display: block;
    max-width: 90%;
    margin: auto auto;
}