/*----------~SCOOTS----------*/

/* Clearfix: Force an element not to collapse */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Wild Card */
* {
    box-sizing: border-box;
}

body {
    background-color: #16697A;
}

main {
    background-color: #EDE7E3;
    color: black;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    font-family: 'Prata', serif;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    font-family: 'Prata', serif;
    text-align: center;
}

main p, main ul, main li {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
    text-align: center;
    background-color: #82C0CC;
}

.logo {
    max-width: 400px;
    justify-content: flex-start;
}

.motto {
    display: inline-block;
}

/* NAVIGATION */
nav button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: black;
} 

nav {
    margin: 0 auto;
    background-color: #FFA21F;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid black;
    color: black;
}

nav ul.hide-navigation {
    display: none;
}

nav li.active {
    background-color: rgba(0,0,0,.2);
}

nav ul li a:hover {
    background-color: rgba(0,0,0,.4);
}

/* FOOTER */
footer {
    margin: auto;
    font-family: 'Inria Serif', serif;
    padding: 1rem;
    background-color: #82C0CC;
    color: black;
    text-align: center;
}

/*------INDEX------*/

/* DIV SECTIONS */
.rental-summary, .cozumel, .contact {
    max-width: 90%;
    margin: auto auto;
}

/* RENTAL SUMMARY */
div.rental-summary {
    width: 90%;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr;
}

div.rental-summary section {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

div.rental-summary h2 {
    background-color: #82C0CC80;
    padding: 10px;
    margin: 0;
}

div.rental-summary img {
    width: 100%;
    margin: auto;
}


/* 3 DAY FORECAST */
.forecast-table {
    display: flex;
    flex-flow: row;
    border-right: 1px solid white;
    border-radius: 2px;
}

.dayofweek {
    display: block;
    padding: 5px;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid white;
	color: black;
}

.forecast-col {
    flex: 1 1 0;
    width: 0;
    background-color: #FFA21F;
    color: white;
    border: 1px solid white;
    text-align: center;
}

.forecast-col:hover {
    background-color: #FFA21F;
}

.forecastTemp {
	display: block;
	padding: 0 5px 5px;
	text-align: center;
}

.forecastIcon {
    border: none;
    height: 60px;
}

/*------CONTACT------*/
/* Also contact css for index.html */
.contact-details {
    text-align: center;
}

.contact img {
    width: 50px; 
}

.contact p {
    display: inline;
}

/*GOOGLE MAP*/
.google-map {
    margin-top: 2rem;
}

/* SOCIAL */
.social {
    max-width: 90%;
    margin: auto auto;
}

.social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 75%;
    margin: auto auto;
}

.social img {
    width: 50px;
}

.social1 {
    grid-column: 0 / 1;
}

.social2 {
    grid-column: 1 / 2;
}

.social3 {
    grid-column: 2 / 3;
}

.social4 {
    grid-column: 3 / 4;
}

/*------RENTALS------*/
.rentals ul {
    text-align: center;
    line-height: 1.5;
    list-style-type: none;
}

.rentals p {
    text-align: center;
}

div.vehicle-cards {
    width: 90%;
    margin: auto auto;
    display: grid;
    grid-template-columns: 1fr;
}

div.vehicle-cards section {
    background-color: #102F4224;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

div.vehicle-cards h2 {
    background-color: #82C0CC80;
    padding: 10px;
    margin: 0;
}

div.vehicle-cards img {
    width: 100%;
    margin: auto;
}

/*------RESERVATIONS, CONFIRMATION, DEPOSIT------*/
.reservations p, .confirmation p {
    text-align: center;
}

/* FORM */
form {
    width: 75%;
    max-width: 350px;
    margin: auto;
}

form fieldset {
    border: 2px solid #102F42;
    border-radius: 3px;
    margin-bottom: 15px;
}

form legend {
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: larger;
}

form label.top, form div, form label.rating {
    display: block;
    padding-top: 1rem;
    font-size: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 2px solid #102F42;
    border-radius: 2px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: white;
}

textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 2px solid #102F42;
    border-radius: 2px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: white;
    resize: none;
}

form :placeholder {
    color:black;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    line-height: .3;
    font-size: 1rem;
}

form input.submitBtn {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
    background-color: #82C0CC80;
    color: black;
    padding: .75rem 1.5rem;
    margin: 1rem 0 2rem 4%;
    width: 96%;
    max-width: 20rem;
    font-size: 1.25rem;
}

form label.top input:required {
    border-left: #FFA21F solid 2px;
}

form label.top input:required:valid {
    border-left: #102F42 solid 2px;
}

/*------TOURS------*/
.tours, .places-visit {
    text-align: center;
    margin: 1rem 3rem;
    background-color: #102F4225;
}

.tours h2, .places-visit h2 {
    background-color: #82C0CC80;
    color: black;
    padding: 1rem 0;
    margin-bottom: 0;
}

.tours p {
    margin: 1rem 3rem;
}

.places-visit .location img {
    max-width: 100%;
    margin: auto auto;
}

.location {
    display: grid;
    grid-template-columns: 1fr;
}

.location h3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.location img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.location .p1 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 0 25px;
}

.location .p2 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding: 0 25px;
}

.location .p3 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    padding: 0 25px;
}
