/* Background color and line-height for entire page */
body {
    background-color: #273043;
    line-height: 1.25;
}

/* Logo CSS */
#logo {
    max-width: 100px;
    float: left;
    padding: 20px 20px;
}

/* Header, footer and main CSS */
header, main, footer {
    margin: 1.25rem auto;
    max-width: 1000px;
}

header, footer {
    font-family: 'DM Sans', sans-serif;
    padding: 1rem;
    background-color:#1B80BF;
    border: 8px solid #C95D63;
    color: #F2F2F2;
    text-align: center;
}

/* Navigation CSS */
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #F2AA52;
} 

nav {
    margin: 0 auto;
    max-width: 760px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,.5);
    color: #F2F2F2;
}

nav ul li a:active {
    background-color: rgba(0,0,0,.2);
    color: #F2AA52;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,.2);
}

nav ul.hide {
    display: none;
}

/*-----Clearfix: Force an element not to collapse-----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Main CSS */
h1 {
    font-family: 'DM Sans', sans-serif;
    padding: 1rem;
}

h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
    padding: 1rem;
    color: #F2AA52;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #F2F2F2;
}