body {
    background-color: #273043;
    line-height: 1.5;
}

#logo {
    max-width: 25%;
    float: left;
}

header, main, footer {
    margin: 1.25rem auto;
    max-width: 1200px;
}

header, footer {
    background-color:#1B80BF;
    border: 8px solid #C95D63;
    color: #F2F2F2;
    text-align: center;
}

header, footer, h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
    padding: 1rem;
}

h2, h3, h4, h5, h6 {
    color: #F2AA52;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: #F2F2F2;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

/* lines between menu links */
li {
    float: left;
    border-right: 1px solid #F2AA52;
}

li a {
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}

li:last-child {
    border-right: none;
}