@media only screen and (min-width: 75em) {
    /*----------PRESTON----------*/
      /* ARTICLE AND CONTACT IMG*/
      .article figure.article-img, .contact figure.contact-img {
        width: 200px;
    }
    
    /*----------GALLERY----------*/
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    } 

    .hover-large:hover {
        box-shadow: 0 0 20px #333;
    }

    /*----------HOME/INDEX PAGE----------*/
    /* TOWN CARDS */
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .cards section {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        margin-right: 8px;
        margin-left: 0;
    }

    .cards section:last-child {
        margin-right: 0;
    }

    .cards h2 {
        grid-column: span 3;
        grid-row: 1;
    }
    
    .cards img {
        border: none;
        grid-column: span 3;
    }

    .cards div {
        grid-column: 2;
    }

    /* INDEX ARTICLE AND CONTACT */
    .index-article, .index-contact {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}