/*----ALL PAGES----*/

/* Wild Card */
* {
    box-sizing: border-box;
}

/* Background color and line-height for entire page */
body {
    background-color: #E0E0E0;
}
main {
    margin: auto;
    background-color: #95969D;
    line-height: 1.25;
}

/* ALL IMAGES */
img {
    border: 5px double #102F42;
}

/* Logo CSS */
.logo {
    border: none;
    max-width: 100px;
}

/* MAIN */
h1 {
    font-family: 'Inria Serif', serif;
    color: #E98A15;
    text-align: center;
    padding: 1rem;
}

h2 {
    font-family: 'Inria Serif', serif;
    color: black;
    text-align: center;
    padding-top: 2rem;
}

h3, h4, h5, h6 {
    font-family: 'Inria Serif', serif;
    color: black;
    text-align: center;
}

main p {
    font-family: 'Montserrat', sans-serif;
    color: black;
    line-height: 1.5;
}

/* BANNER */
.banner {
    display: none;
    background-color: #F2AA52;
    color: #102F42;
    border: 2px dashed #16425B;
}

/* HEADER */
.header {
    display: flex;
    font-family: 'Inria Serif', serif;
    padding: 1rem;
    background-color:#16425B;
    color: #E0E0E0;
    align-items: center;
}

.name-motto {
    margin: auto;
}

.motto {
    color: #E0E0E0;
}

/* NAVIGATION */
nav button {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #102F42 ;
} 

nav {
    margin: 0 auto;
    background-color: #F2AA52;
    border-radius: 2px;
}

nav ul {
    color: #102F42;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.hide-navigation {
    display: none;
}

nav ul li a {
    display: block;
    height: 100%;
    padding: .8rem;
    text-align: center;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,.5);
    color: #102F42;
}

.active {
    background-color: rgba(0,0,0,.2);
}

nav ul li a:hover {
    background-color: #102F42;
    color: #E98A15;
}

/* FOOTER */
footer {
    margin: auto;
    font-family: 'Inria Serif', serif;
    padding: 1rem;
    background-color:#16425B;
    color: #E0E0E0;
    text-align: center;
}

/* Clearfix: Force an element not to collapse */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*----PRESTON PAGE----*/

/* MAIN PRESTON PADDING */
.preston {
    padding: 0 2rem 2rem 2rem;
}

/* HERO */
.hero figure.hero-img {
    width: 100%;
    margin: 10px auto;
    border-radius: 2px;
}

.hero figure.hero-img img {
    width: 100%;
}

/* WEATHER SUMMARY */
.weather-summary {
    position: static;
    background-color: #16425B90;
    padding: 1rem;
    width: 100%;
    border-radius: 2px;
}

.weather-summary h3, .weather-summary p {
    color: white;
}

/* FORECAST, ARTICLE, CONTACT, REPORT-RECEIVED */
.forecast, .article, .contact, .report-received {
    background-color: #16425B50;
    border: 1px solid #102F42;
    border-radius: 2px;
    padding: 1rem;
    margin: 10px 0 15px 0;
}

/* 5 DAY FORECAST */
.forecast-table {
    display: flex;
    flex-flow: row;
    border-right: 1px solid #102F42;
    border-radius: 2px;
}

.forecast-head {
    display: block;
    padding: 5px;
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #102F42;
	color: black;
}

.forecast-col {
    flex: 1 1 auto;
    background-color: #16425B;
    color: white;
    border: 1px solid #102F42;
    text-align: center;
}

.forecast-col:hover {
    background-color: #102F42;
}

.data {
	display: block;
	padding: 0 5px 5px;
	text-align: center;
}

.weather-img {
    border: none;
    height: 45px;
}

/* ARTICLE */
.article figure.article-img {
    width: 50%;
    margin: 0 0 0 2%;
    float: right;
    border-radius: 2px;
}

.article figure.article-img img {
    width: 100%;
}

.article figure.article-img figcaption {
    text-align: center;
    font-size: .75rem;
}

/* CONTACT */
.contact {
    text-align: center;
    line-height: 2;
}

.contact figure.contact-img {
    width: 50%;
    margin: 2% 2% 2% 0;
    float: left;
}

.contact figure.contact-img img {
    width: 100%;
}

/*----GALLERY PAGE----*/
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

figcaption {
    color: black;
    text-align: center;
}
/*----STORMCENTER PAGE----*/

.stormcenter-p {
    text-align: center;
}

/* FORM */

form {
    width: 90%;
    max-width: 500px;
    margin: auto;
    font-size: 1.25rem;
}

form fieldset {
    border: 2px solid #E98A15;
    border-radius: 2px;
}

form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div, form label.rating {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: 1rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 2px solid #102F42;
    border-radius: 2px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: white;
}

textarea {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: 2px solid #102F42;
    border-radius: 2px;
    padding: .75rem;
    color: black;
    width: 100%;
    max-width: 20rem;
    background-color: white;
    resize: none;
}

form :placeholder {
    color:black;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: black;
    line-height: .3;
    font-size: 1rem;
}

.danger-rating, #rating {
    font-size: 1rem;
}

form input.submitBtn {
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2px;
    background-color: #102F42;
    color: white;
    padding: .75rem 1.5rem;
    margin: 1rem 0 2rem 4%;
    width: 96%;
    max-width: 20rem;
    font-size: 1.25rem;
}

form label.top input:required {
    border-left: red solid 2px;
}

form label.top input:required:valid {
    border-left: #102F42 solid 2px;
}