@media only screen and (min-width: 75em) {

    /* Nav */
    nav ul li {
        flex: 1 1 auto;
    }
    nav a {
        text-align: center;
    } 

    /* Gallery CSS */
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    } 
}