@media only screen and (min-width: 75em) {

    .header figure.logo {
        width: 100px;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    } 
    
    /* Nav */
    nav ul li {
        display: block;
        flex: 1 1 auto;
    }
    nav a {
        text-align: center;
    }

    
}