@media only screen and (min-width: 70em) {

    /* Nav */
    nav ul li {
        display: block;
        flex: 1 1 auto;
    }
    nav a {
        text-align: center;
    }

    /* Hero Image */
    .hero-div {
        margin: 10px auto;
        position: relative;
        height: 350px;
    }
    
    .hero-ph {
        margin: 10px auto;
        width: 100%;
        height: auto;
    }
    
    /* Weather Summary */
    .weather-summary {
        position: absolute;
        top: 5rem;
        left: 5rem;
        padding: 0rem .4rem .2rem;
        width: 250px;
        height: 250px;
        background-color: #F2AA5298;
    }
}