@media only screen and (min-width: 50em) {
    
    .logo {
        max-width: 125px;
    }

    nav button {
        display: none;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul.hide-navigation, nav ul {
        display: flex;
    }

    nav ul li a {
        border: none;
    }
}