@media only screen and (min-width: 50em) {
    
    .header figure.logo {
        width: 100px;
    }

    /* Nav */
    nav button {
        display: none;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav ul.hide-navigation, nav ul {
        display: flex;
    }

    nav ul li a {
        border: none;
    }

    /* Hero Image */
    .hero-div {
        margin: 10px auto;
        position: relative;
        height: 350px;
    }
    
    .hero-ph {
        margin: 10px auto;
        width: 100%;
        height: auto;
    }
    
    /* Weather Summary */
    .weather-summary {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0rem .4rem .2rem;
        width: 250px;
        height: 250px;
        background-color: #F2AA5298;
    }
}